/* font families */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&family=Tinos:wght@400;700&display=swap");

/* tailwind directives */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* tailwind base layer */
@layer base {
  @font-face {
    font-family: "SF Pro";
    src: url("../fonts/sf-pro/SFPRODISPLAYREGULAR.OTF") format("opentype");
    font-style: normal;
    font-weight: 400;
  }
  @font-face {
    font-family: "SF Pro";
    src: url("../fonts/sf-pro/SFPRODISPLAYMEDIUM.OTF") format("opentype");
    font-style: normal;
    font-weight: 500;
  }
  @font-face {
    font-family: "SF Pro";
    src: url("../fonts/sf-pro/SFPRODISPLAYBOLD.OTF") format("opentype");
    font-style: normal;
    font-weight: 700;
  }
}

/* tailwind components layer */
@layer components {
  body {
    @apply font-body bg-red-1000 text-white;
  }

  #app {
    @apply min-h-screen flex flex-col overflow-hidden;
  }

  @media screen(2xl) {
    .container {
      max-width: 1280px;
    }
  }

  .title__1,
  .title__2,
  .title__3 {
    @apply font-display mb-4 font-bold;
  }

  .title__1 {
    @apply text-[2rem] sm:text-4xl md:text-[2.75rem] lg:text-5xl;
  }

  .title__2 {
    @apply text-2xl sm:text-3xl lg:text-4xl xl:text-[2.5rem];
  }

  .text__1,
  .text__2,
  .text__3,
  .text__5,
  .text__6 {
    @apply mb-6;
  }

  .text__1 {
    @apply text-xl sm:text-2xl md:text-[1.75rem] xl:text-[2rem];
  }

  .text__3 {
    @apply text-base sm:text-lg md:text-xl xl:text-2xl;
  }

  .text__5 {
    @apply text-sm md:text-base xl:text-lg;
  }

  .text__6 {
    @apply text-xs md:text-sm;
  }

  .img__fluid {
    @apply max-w-full h-auto object-contain object-center;
  }

  .bg__holder,
  .bg__holder-sm {
    @apply absolute inset-0 -z-10 bg-no-repeat bg-cover bg-center;
  }

  .bg__holder {
    @apply hidden sm:block;
  }

  .bg__holder-sm {
    @apply sm:hidden;
  }

  .btn__group {
    @apply flex flex-col sm:flex-row justify-center gap-4 md:gap-8;
  }

  .btn {
    @apply font-body font-bold text-base md:text-lg lg:text-xl tracking-wider px-12 md:px-7 py-4 md:py-5 rounded-md transition inline-flex items-center justify-center text-center;
    box-shadow: 5px 4px 13px rgba(0, 0, 0, 0.25);
  }

  .btn__sm {
    @apply py-3 md:py-4;
  }

  .btn__primary {
    background: linear-gradient(
        180deg,
        rgba(255, 86, 88, 0.69) -59.23%,
        rgba(255, 95, 96, 0) 70.77%
      ),
      #410b13;
  }

  .btn__white {
    @apply bg-white text-[#BA1F33];
  }

  .btn__primary:hover {
    background: linear-gradient(
        180deg,
        rgba(255, 95, 96, 0) -59.23%,
        rgba(255, 86, 88, 0.69) 70.77%
      ),
      #410b13;
  }

  .section__img {
    @apply flex justify-center;
  }

  .section__img img {
    @apply w-3/4 lg:w-[574px];
  }

  .bordered-grad {
    background: linear-gradient(
      154.19deg,
      rgba(21, 21, 21, 0.2) 0%,
      rgba(21, 21, 21, 0) 96.49%
    );
    box-shadow: 3.02885px 3.02885px 9.84375px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(15.9014px);
  }

  .bordered-grad::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 1px;
    pointer-events: none;
    border-radius: inherit;
    background-image: radial-gradient(
        circle at left top,
        rgba(255, 86, 88, 0.69),
        rgba(0, 209, 255, 0) 50%
      ),
      radial-gradient(
        circle at right center,
        rgba(255, 86, 88, 0.69),
        rgba(0, 240, 255, 0.05) 50%
      ),
      radial-gradient(
        circle at left bottom,
        rgba(255, 86, 88, 0.69),
        rgba(51, 163, 109, 0.05) 50%
      );
    -webkit-mask: -webkit-linear-gradient(#fff 0 0) content-box,
      -webkit-linear-gradient(#fff 0 0);
    -webkit-mask-composite: destination-out;
    mask-composite: exclude;
  }

  .bordered-grad-1 {
    background: linear-gradient(
      152.97deg,
      rgba(21, 21, 21, 0.2) 0%,
      rgba(21, 21, 21, 0) 100%
    );
    filter: drop-shadow(4px 4px 13px rgba(0, 0, 0, 0.25));
    backdrop-filter: blur(21px);
  }

  .bordered-grad-1::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 1px;
    pointer-events: none;
    border-radius: inherit;
    background-image: linear-gradient(
      -45deg,
      rgba(255, 86, 88, 0.69),
      rgba(0, 209, 255, 0),
      rgba(255, 86, 88, 0.69)
    );
    -webkit-mask: -webkit-linear-gradient(#fff 0 0) content-box,
      -webkit-linear-gradient(#fff 0 0);
    -webkit-mask-composite: destination-out;
    mask-composite: exclude;
  }

  .badge {
    @apply px-4 py-1;
  }

  .badge__danger {
    @apply bg-[#BA1F33] text-white;
  }

  /* header main */
  .header__main {
    @apply fixed top-0 left-0 w-full z-10 py-5 md:py-7 transition-all duration-300 ease-in-out;
  }

  .header__main.sticky {
    @apply bg-[#270006] shadow-xl py-4;
  }

  .nav__logo {
    @apply no-underline inline-flex;
  }

  /* main area */
  .main__area {
    @apply flex-1;
  }

  /* hero section */
  .hero__section {
    @apply pt-28 sm:pt-32 md:pt-36 lg:pt-40 xl:pt-48;
  }

  .hero__section .bg__holder {
    @apply bg-bottom;
  }

  .hero__section .title__1 {
    @apply text-center md:mb-6 lg:mb-8 xl:mb-10;
  }

  .hero__section .text__1 {
    @apply text-center max-w-[720px] mx-auto mb-9 sm:mb-11 md:mb-12 lg:mb-14 leading-normal;
  }

  .hero__section .btn__group {
    @apply items-center sm:items-stretch mb-11 md:mb-14 lg:mb-16;
  }

  .hero__section .btn__group img {
    @apply max-w-[192px] sm:max-w-full;
  }

  .hero__section .btn {
    @apply uppercase;
  }

  /* tired staring */
  .tired__staring {
    @apply py-14 pt-10 pb-16 sm:pt-12 sm:pb-20 md:pt-14 md:pb-24 lg:pt-16 lg:pb-28 xl:pt-20;
  }

  .tired__staring .title__2 {
    @apply text-center lg:text-start lg:max-w-[480px];
  }

  .tired__staring .text__3 {
    @apply text-center lg:text-start lg:max-w-[418px];
  }

  .tired__staring .content {
    @apply lg:flex lg:justify-between mb-9 sm:mb-12 md:mb-16 lg:mb-20 xl:mb-24;
  }

  .tired__staring .screenshots {
    @apply lg:flex lg:items-center;
  }

  .post__item {
    @apply flex justify-center;
  }

  .post__item .img__wrapper {
    @apply relative z-0;
  }

  .post__item img {
    @apply rounded-2xl w-80;
  }

  .post__item .icon {
    @apply w-8 h-8 rounded-full bg-white inline-flex items-center justify-center text-base text-red-1100 absolute top-4 lg:top-auto lg:bottom-4 right-4 lg:right-auto lg:left-4;
  }

  .chat__messages {
    @apply grid gap-3 lg:gap-6 xl:gap-8 -mt-7 lg:mt-0 relative mb-20 lg:mb-0 w-60 xs:w-72 lg:w-60 xl:w-80 mx-auto lg:mx-0 lg:-ml-8;
  }

  .chat__messages .curve__line {
    @apply absolute -z-10 -rotate-90 lg:rotate-0 top-11 left-1/2 lg:left-full -translate-x-1/2 lg:-translate-x-1/4 xl:-translate-x-10 h-[120px] w-[320px] bg-cover bg-no-repeat bg-center;
  }

  .chat__messages .chat__message-item {
    @apply bg-white p-3 lg:p-4 rounded-md text-black;
    box-shadow: 0px 3.05201px 3.05201px rgba(0, 0, 0, 0.25);
  }

  .chat__message-item .text__6 {
    @apply mb-3;
  }

  .chat__message-item .text__5 {
    @apply font-display font-bold mb-0;
  }

  .chat__comments {
    --chat-space-x: 1rem;

    @apply grid gap-4 w-60 xs:w-72 lg:w-60 xl:w-80 mx-auto lg:mr-12;
  }

  @media screen(xl) {
    .chat__comments {
      --chat-space-x: 2rem;
    }
  }

  .chat__comments .chat__comment-item {
    @apply relative rounded-lg rounded-br-none p-3 text-right;
  }

  .chat__comments .chat__comment-item:nth-of-type(1) .backdrop {
    width: 80px;
    height: 66px;
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 0;
    background: #faeec6;
    opacity: 0.5;
    filter: blur(25.7516px);
    transform: translate(-50%, -50%);
  }

  .chat__comments .chat__comment-item:nth-of-type(2) {
    margin-left: var(--chat-space-x);
  }

  .chat__comments .chat__comment-item:nth-of-type(2) .backdrop {
    width: 84px;
    height: 74px;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    background: #c2e1f0;
    filter: blur(32.0157px);
    transform: translate(-50%, -50%);
  }

  .chat__comments .chat__comment-item:nth-of-type(3) {
    margin-left: calc(var(--chat-space-x) * 2);
  }

  .chat__comments .chat__comment-item:nth-of-type(3)::after {
    content: "";
    background-image: url(../assets/images/heart__sms.png);
    background-size: 1.25rem auto;
    background-repeat: no-repeat;
    background-position: center;
    width: 2rem;
    height: 2rem;
    position: absolute;
    top: 100%;
    left: 100%;
    transform: translate(15%, 25%);
  }

  .chat__comments .chat__comment-item:nth-of-type(3) .backdrop {
    width: 89px;
    height: 89px;
    border-radius: 50%;
    position: absolute;
    top: 100%;
    left: 100%;
    transform: translate(-25%, -25%);
    background-color: #f6c6db;
    opacity: 0.5;
    filter: blur(19px);
  }

  .chat__comments .chat__comment-item .corner {
    @apply absolute top-full right-0 -translate-y-[1px];
  }

  .chat__comments .chat__comment-item .corner svg {
    @apply w-4 h-auto;
  }

  .chat__comments .chat__comment-item .text__5 {
    margin-bottom: 0;
  }

  /* banter going */
  .banter__going {
    @apply bg-[#270006] py-14 pt-10 pb-16 sm:pt-12 sm:pb-20 md:pt-14 md:pb-24 lg:pt-16 lg:pb-28 xl:pt-20;
  }

  .banter__going .title__2 {
    @apply text-center lg:text-start mb-4 sm:mb-6 md:mb-8 lg:mb-10 xl:mb-12;
  }

  .banter__going .content {
    @apply lg:flex lg:justify-between;
  }

  .banter__going .text__3 {
    @apply text-center lg:text-start;
  }

  .banter__going .screenshots {
    @apply flex flex-col lg:flex-row gap-8 lg:mt-8;
  }

  .banter__going .chat__message {
    @apply flex items-start justify-center gap-1 mb-8;
  }

  .banter__going .chat__message img {
    @apply w-12 lg:w-20;
  }

  .banter__going .chat__message .text__3 {
    @apply mb-0 bg-white rounded-lg text-black px-2 lg:px-3 py-1 lg:py-2  relative before:absolute before:w-2 before:h-3 before:bg-white before:top-full before:left-0 before:-skew-x-[20deg] before:rounded-br-2xl before:-translate-y-2 before:rotate-6;
  }

  .banter__going .chat__comments {
    @apply lg:w-72;
  }

  /* go meet */
  .go__meet {
    @apply py-10 sm:py-14 md:py-16 lg:py-20 xl:py-24;
  }

  .go__meet .title__2 {
    @apply text-center lg:text-start lg:mb-6 xl:mb-8;
  }

  .go__meet .text__3 {
    @apply text-center lg:text-start lg:mb-8 xl:mb-10;
  }

  .go__meet .btn__wrapper {
    @apply text-center lg:text-start;
  }

  .go__meet .btn__wrapper .btn {
    @apply uppercase px-6;
  }

  .go__meet .content {
    @apply lg:flex lg:items-center lg:justify-between lg:gap-4;
  }

  .go__meet .content .left {
    @apply lg:max-w-xl;
  }

  .testimonial__slider {
    @apply mb-8 lg:hidden;
  }

  .testimonial__item {
    @apply rounded-2xl px-6 py-7 md:px-8 md:py-9 flex flex-col justify-between transition-transform duration-300 ease-linear h-full;
  }

  .testimonial__slider .splide__slide:not(.is-active) .testimonial__item {
    @apply scale-75;
  }

  . .author__name {
    @apply mt-8;
  }

  .go__meet .content .right {
    @apply max-w-[530px];
  }

  .go__meet .content .testimonial__grid {
    @apply lg:grid lg:grid-cols-2 lg:grid-flow-row lg:gap-6 xl:gap-8 2xl:gap-10;
  }

  .testimonial__grid .testimonial__item {
    @apply lg:min-h-[15rem];
  }

  .testimonial__grid .testimonial__item:nth-of-type(1) {
    @apply row-start-1 row-span-2;
  }

  .testimonial__grid .testimonial__item:nth-of-type(2) {
    @apply row-start-2 row-span-2;
  }

  .testimonial__grid .testimonial__item:nth-of-type(3) {
    @apply row-start-3 row-span-2;
  }

  /* ai profile */
  .ai__profile {
    @apply relative z-0 py-8 sm:py-10 md:py-12 lg:py-16 xl:py-20 bg-[#270006] before:absolute before:bg-white before:top-0 before:left-0 before:w-full lg:before:w-1/2 before:h-1/2 lg:before:h-full before:-z-10;
  }

  .ai__profile .title__2 {
    @apply lg:mb-6 xl:mb-8 mt-4;
  }

  .ai__profile .text__3 {
    @apply lg:mb-8 xl:mb-10;
  }

  .ai__profile .btn__wrapper {
    @apply text-center lg:text-start mt-6;
  }

  .ai__profile .btn__wrapper .btn {
    @apply px-12;
  }

  .ai__profile .content {
    @apply lg:flex lg:items-center lg:justify-between;
  }

  .ai__profile .left {
    @apply text-dark-500 lg:basis-[45%] text-center lg:text-start;
  }

  .ai__profile .right {
    @apply basis-1/2;
  }

  .ai__profile .post__item img {
    @apply lg:w-64;
  }

  .ai__profile .chat__messages {
    @apply mb-6 lg:ml-auto lg:mr-auto lg:-mt-8 lg:w-56;
  }

  .ai__profile .post__item .icon {
    @apply left-auto bottom-auto top-4 right-4;
  }

  .ai__profile .chat__message-item {
    @apply min-h-[86px];
  }

  .ai__profile .chat__message-item .text__6 {
    @apply text-[10px];
  }

  .ai__profile .chat__message-item .text__5 {
    @apply text-sm;
  }

  .profile__brief {
    @apply relative rounded-2xl px-6 py-7 flex flex-col justify-between w-120 lg:w-72 mx-auto lg:mr-0 lg:-mt-12;
  }

  .profile__brief .text {
    @apply text-[12px] font-light;
    width: 100px;
  }

  .profile__brief .brief {
    @apply text-base mt-5;
  }

  .profile__brief .backdrop {
    width: 100px;
    height: 74px;
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(-25%, -25%);
    background-color: #f6c6db;
    opacity: 0.5;
    filter: blur(19px);
    z-index: -1;
  }

  /* footer main */
  .footer__main {
    @apply font-sfpro mt-auto py-14 md:py-16;
  }

  .widgets {
    @apply flex items-end md:items-center justify-between;
  }

  .footer__brand {
    @apply inline-flex mb-2 lg:mb-4;
  }

  .footer__brand img {
    @apply w-32 sm:w-36 md:w-44 lg:w-48 xl:w-52;
  }

  .widget .text {
    @apply mb-0 text-[13px] md:text-base lg:text-lg xl:text-xl;
  }

  .footer__nav {
    @apply flex flex-col md:flex-row gap-3 md:gap-12 lg:gap-24 text-end font-bold;
  }

  .nav__link {
    @apply text-white hover:opacity-80 transition-colors duration-150;
  }
}

/* tailwind utilities layer */
@layer utilities {
}
